---
import { SITE } from '$/config';
import Layout from '../layouts/Layout.astro';
---

<Layout
  head={{
    title: SITE.title
  }}
>
  <main class="prose max-w-2xl mx-auto p-2 py-14">
    <section>
      <h1>
        Astro + Cloudflare Pages Starter
      </h1>
      <p>Edit <code>pages/index.astro</code> to get started.</p>
    </section>
  </main>
</Layout>
