---
import { SITE } from "$/config";

---

<nav class="w-full border-b border-gray-200 mb-6">
  <div class="max-w-5xl mx-auto px-8 py-4 flex justify-between">
    <div>
      <a href="/" class="font-bold">{SITE.name}</a>
    </div>
    <div class="flex gap-6">
      <a href="/blog">Blog</a>
    </div>
  </div>
</nav>
